@reference "../../../styles/globals.css";

.modalOverlay {
    @apply fixed inset-0 w-full h-full bg-black/50 flex justify-center items-center z-[1000];
}

.modalContainer {
    @apply bg-white p-6 rounded-[12px] w-[85%] max-w-[300px] shadow-lg relative;
    animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}